body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffeffc;
    color: black;
    text-align: center;
}

header{
    background-color: #ff8a8a;
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    border-radius: 30px;
    margin: 20px auto 5px;
    width: 70%;
}
