body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffeffc;
    color: black;
    text-align: center;
}

header{
    background-color: #ff8a8a;
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    border-radius: 30px;
    margin: 20px auto 5px;
    width: 70%;
}

.subtitulo{
    font-size: 14px;
    color: black;
    margin-bottom: 20px;
}

.contenedor-tabla{
    background-color: #ffbb91;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: #ffd699;
    padding: 10px;
    font-size: 16px;
}

td{
    background-color: #fff4e3;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) td{
    background-color: #ffebcd;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}